<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Change Order</h1>
    <h4>Cookie Type is required</h4>
    {%with messages = get_flashed_messages()%}
        {%if messages%}
            {%for message in messages%}
                <p>{{message}}</p>
            {%endfor%}
        {%endif%}
    {%endwith%}
    <form action="/cookies/edit/{{order.id}}" method="post">
        <label for="customer_name">Customer Name</label>
        <input type="text" name="customer_name" value="{{order.customer_name}}">
        <label for="cookie_type">Cookie Type</label>
        <input type="text" name="cookie_type" value="{{order.cookie_type}}">
        <label for="num_of boxes">Number of Boxes</label>
        <select name="num_of_boxes" id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <input type="submit">
    </form>
    <a href="/">Back to Purchases</a>
</body>
</html>