<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cookie Orders</h1>
    <h2>All Orders:</h2>
    <table>
        <th>
            <tr>Customer Name</tr>
            <tr>Cookie Type</tr>
            <tr>Number of Boxes</tr>
            <tr>Actions</tr>
        </th>
        {%for order in orders%}
        <tr>
            <td>{{order.customer_name}}</td>
            <td>{{order.cookie_type}}</td>
            <td>{{order.num_of_boxes}}</td>
            <td><a href="/cookies/edit/{{order.id}}">edit</a></td>
        </tr>
        {%endfor%}
    </table>
    <a href="/cookies/new">+ New Order</a>
</body>
</html>